body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
}

#app > div.holder.headline{
    text-align: center;
    margin: 1em;
}

#app > div.holder.zip{
    padding: 0.5em;
    margin: 0.5em;
}

#app > div.holder.feel{
    padding: 0.5em;
    margin: 0.5em;
}

#feelings{
    margin: 10px 0px;
}

#app > div.holder.entry{
    padding: 0.5em;
    margin: 0.5em;
}

#entryHolder{
    padding: 0.5em;
}

#generate{
    font-size: 1em;
    color: balck;
    background-color: chartreuse;
    border-radius: 5px;
}

#generate:hover{
    cursor: pointer;
    background-color: rgb(170, 241, 99);
    transition: ease 1s;
    font-size: 1.1em;
}


